.header{
  padding: 40px;
  text-align: center;
  background: brown;
  color: white;
  font-size: 30px;
}

.transactions{
  padding: 20px;
  border: 2px solid black;
  border-radius: 80%;
}

.transaction-table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.transaction-table th, .transaction-table td{
  padding: 8px;
  border-bottom: 1px solid gray;

}

.transaction-table th{
  background-color: cornsilk;
  font-weight: bold;
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
